body {
	font-family: "Open Sans";
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Droid Serif";
}

.btn {
	border-radius: 0;
}

a {
	color: inherit;
}

.icon {
	margin-right: 0.5em;
	width: 1em;
}

hr {
	border-bottom: 1px solid #9D9D9D;
}

#resume {
	border: 1px solid #DDD;
	padding: 1.5em;
	background: #FEFEFE;
	color: #555;
	margin: 1em auto;
	border-bottom-width: 2px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}

/****  HEADER  ****/

.bio .name {
	margin-top: 0;
}

.bio .info,
.bio .title {
	font-family: "Open Sans";
}

.bio .info:first-child {
	margin-top: 3px;
}


/****  BODY  ****/

.main h1, .main h2, .main h3, .main h4, .main h5, .main h6 {
	font-weight: 600;
	margin-top: 0;
}

.main .title {
	font-size: 1.5em;
	color:  #39A5B7;
}

.main .skill,
.main .desc {
	font-size: 1.2em;
	text-align: justify;
}

.main .intense {
	color: #C00000;
}

.main .skillsetTitle {
	margin-bottom: .25em;
}

.main .skillset {
	margin-bottom: .5em;
}



