body {
	font-family: "Open Sans";
}

.btn {
	border-radius: 0;
}

a {
	color: inherit;
}

.icon {
	margin-right: 0.5em;
	width: 1em;
}

hr {
	border: 1px solid;
}

#resume {
	border: 1px solid #DDD;
	padding: 1.5em;
	background: #FEFEFE;
	color: #555;
	margin: 1em auto;
	border-bottom-width: 2px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}

.bio .name {
	margin-top: 0;
	font-family: "Droid Serif";
}

.bio .info:first-child {
	margin-top: 3px;
}
